@model TP_Instituto.Models.curso
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>curso</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idcurso)

        <div class="form-group">
            @Html.LabelFor(model => model.nombrecurso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombrecurso, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombrecurso, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.DropDownListFor(model => model.Alumno, new SelectList((System.Collections.IEnumerable)ViewData["Alumnos"], "Legajo", "Apellido"), new {@class = "form-control"})
        
       <div class="form-group">
           <div class="col-md-offset-2 col-md-10">
               <input type="submit" value="Save" class="btn btn-default" />
           </div>
       </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}